
{%extends  'base.html'%}

{%load static%}
{% block content %}     

        <main>
            <!-- Banner Section  -->
            <div class="banner-area inner-banner" style="background-image: url('assets/img/bg/bg2.png');">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12">
                            <div class="breadcrumbs">
                                <nav aria-label="breadcrumb text-center">
                                    <h2 class="text-white">Appointment</h2>
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Appointment</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Section  -->

            <!-- Counter Section  -->
            <section class="counter-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="counter-wrapper counter-wrapper-2" data-cues="slideInRight" data-delay="500">
                                <div class="counter-item">
                                    <h2 class="counter counter-number">125+</h2>
                                    <span class="counter-text">Expert Doctors</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">275+</h2>
                                    <span class="counter-text">Total Medical Stuff</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">462k</h2>
                                    <span class="counter-text">Online Appointments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Counter Section  -->

            <!-- Doctor-start-->
            <section class="appointment-page overflow-hidden section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="booking-wrapper" data-cues="slideInLeft" data-delay="300">
                                <div class="section-title">
                                    <span class="subtitle">Book an Appointment</span>
                                    <h3>Contact Our friendly Reception Staff With Any Inquiry.</h3>
                                </div>
                                <div class="booking-form">
                                    <form>
                                        <div class="pseudo-icon icon-user">
                                            <input class="form-control" type="text" placeholder="Your Name"
                                                aria-label="form-control">
                                        </div>
                                        <div class="pseudo-icon icon-envelope">
                                            <input class="form-control" type="email" placeholder="Your Email"
                                                aria-label="form-control">
                                        </div>
                                        <select class="select-control pseudo-icon icon-doctor">
                                            <option data-display="Choose doctor">Choose doctor</option>
                                            <option value="1">Dr. Williamson</option>
                                            <option value="2">Dr. Camel</option>
                                            <option value="4">Dr. Handy</option>
                                        </select>
                                        <select class="select-control pseudo-icon icon-date">
                                            <option data-display="Choose date">Choose Date</option>
                                            <option value="1">Dr. Williamson</option>
                                            <option value="2">Dr. Camel</option>
                                            <option value="4">Dr. Handy</option>
                                        </select>
                                        <select class="select-control pseudo-icon icon-history">
                                            <option data-display="Choose time">Choose Time</option>
                                            <option value="1">Dr. Williamson</option>
                                            <option value="2">Dr. Camel</option>
                                            <option value="4">Dr. Handy</option>
                                        </select>
                                        <div>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Describe your problem"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-blue btn-xl btn-round mt-5">Make
                                            Appointment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="booking-right-content">
                                <div class="section-title" data-cues="slideInUp" data-delay="400">
                                    <span class="subtitle">Contact</span>
                                    <h3>
                                        Emergency Contact Us.</h3>
                                    <p>
                                        Lorem Ipsum available the majority have suffered alteration
                                        in some form, by injected humour, or randomized words
                                        which don't look even slightly believable.</p>
                                </div>
                                <div class="booking-info-box" data-cues="slideInUp">
                                    <div class="booking-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="booking-text">
                                        <span>Call us now</span>
                                        <a href="tel:+00123456789">+00 (00) 12345 6789</a>
                                    </div>
                                </div>
                                <div class="booking-info-box" data-cues="slideInUp">
                                    <div class="booking-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="booking-text">
                                        <span>Mail us now</span>
                                        <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                                    </div>
                                </div>
                                <div class="subscribe-news-wrapper" data-cues="slideInUp">
                                    <div class="subscribe-text">
                                        <i class="fas fa-envelope-open-text"></i>
                                        <h3>Subscribe your email for newsletter</h3>
                                    </div>
                                    <p>Lorem Ipsum available the majority have suffered alteration
                                        in some form, by injected humour, or randomized words
                                        which don't look even slightly believable.</p>
                                    <form>
                                        <input class="form-control" type="email" placeholder="Email address"
                                            aria-label="form-control">
                                        <button type="submit" class="btn btn-blue btn-xl btn-round">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Doctor-end -->
        </main>

        <!-- Footer Section Start  -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-client-logo">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiper client-slider-active">
                                <div class="swiper-wrapper client-logo-list">
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client2.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client3.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client4.png" alt="Client Logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-top section-padding">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index-2.html"><img src="assets/img/logo2.png" alt="Logo"></a>
                                </div>
                                <p class="text-white">Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy.</p>
                                <div class="footer-contact-info">
                                    <div class="icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <span>Themeforest, Envanto HQ <br>24 Fifth st., Los Angeles, USA</span>
                                </div>
                                <div class="footer-contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <span>+00 (00) 123 456 789 <br>+00 (00) 123 456 789</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget footer-padding pt-md-0">
                                <h3 class="footer-title">Our Services</h3>
                                <ul class="footer-links">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget footer-padding">
                                <h3 class="footer-title">Important Link</h3>
                                <ul class="footer-links">
                                    <li><a href="doctor.html">Doctors</a></li>
                                    <li><a href="appointment.html">Appointment</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="booking-list.html">Booking List</a></li>
                                    <li><a href="error.html">404 Page</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-widget footer-padding footer-booking-hour">
                                <h3 class="footer-title">Opening Hours</h3>
                                <ul class="footer-info">
                                    <li>Monday - Wednesday 6.00 - 10.30 pm</li>
                                    <li>Thursday - Saturday 8.00 - 12.00 am</li>
                                </ul>
                                <div class="off-day">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38.474" height="38.474"
                                        viewBox="0 0 38.474 38.474">
                                        <path id="_24_7_icon" data-name="24/7 icon"
                                            d="M21.237,23.161a5.771,5.771,0,0,1,4,9.93l-3.674,3.536h5.444v3.847H15.466V37.157l7.1-6.839a1.924,1.924,0,1,0-3.257-1.387H15.466A5.771,5.771,0,0,1,21.237,23.161Zm11.542,0v7.695h3.847V23.161h3.847V40.474H36.626V34.7H28.932V23.161ZM5.847,21.237a15.361,15.361,0,0,0,5.771,12.015V37.9A19.227,19.227,0,0,1,2,21.237ZM21.237,2A19.238,19.238,0,0,1,40.378,19.313h-3.87a15.391,15.391,0,0,0-28-6.733h5.03v3.847H2V4.886H5.847V9.695A19.2,19.2,0,0,1,21.237,2Z"
                                            transform="translate(-2 -2)" fill="#0463fa" />
                                    </svg>
                                    <span class="btn btn-blue btn-xl btn-round">Sunday - Holiday</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6 col-lg-7 col-xl-8">
                            <div class="footer-bottom-left">
                                <ul class="footer-social">
                                    <li>Follow us:</li>
                                    <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 col-xl-4">
                            <div class="footer-copyright">
                                <p>&copy; 2021 All Right Reserved by theme_crazy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/shape/shape10.png" alt="Shape" class="shape">
            <img src="assets/img/shape/shape11.png" alt="Shape" class="shape2">
        </footer>
        <!-- Footer Section End  -->
        {% endblock %}