{%extends  'base.html'%}
{%load static%}
{% block content %}

<section class="blogs-area blogs-area-2">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="blogs-wrapper">
                  <div class="blogs-left-content">
                      <div class="blogs-item blogs-item-2 mt-0" data-cues="slideInUp" data-delay="300">
                          <div class="blogs-img">
                              <a href="blog-details.html"><img src="{{ blogs.image.url }}" alt="blogs Image"></a>
                          </div>
                          <ul class="blogs-meta">
                              <li class="author">
                                  <i class="fas fa-user-alt"></i>
                                  <span>By Admin</span>
                              </li>
                              <li class="meta-date">
                                  <i class="fas fa-calendar-alt"></i>
                                  <span>January 22, 2022</span>
                              </li>
                          </ul>
                          <div class="blogs-content">
                              <a href="{{ blogs.image.url }}"><h3>
                                 {{ blogs.title }}</h3></a>
                              <p>{{ blogs.description }}</p>
                              <hr>
                              </div>
                          </div>
                      </div>



 {% endblock %}
