{% extends 'base.html' %}

{% load static custom_tags %}

{% block content %}

<!-- Blog Details Section -->
<section class="blog-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog-details-wrapper">
                    <div class="blog-details-header">
                        <div class="blog-details-header-img">
                            <img src="{{ blog.image.url }}" alt="Blog Image">
                        </div>
                        <div class="blog-details-header-content">
                            <ul class="blog-meta">
                                <li class="author"><i class="fas fa-user-alt"></i>{{ blog.author }}</li>
                                <li class="date"><i class="fas fa-calendar-alt"></i>{{ blog.created_at|date:"F/d/Y" }}</li>
                            </ul>
                            <h2>{{ blog.title }}</h2>
                        </div>
                    </div>
                    <div class="blog-details-body">
                        <p>{{ blog.content }}</p>
                    </div>
                    <div class="blog-details-footer">
                        <ul class="blog-share">
                            <li><span>Share:</span></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
