{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-12">        
    <div class="blog-wrapper">
        <div class="blog-left-content">
            <div class="blog-item blog-item-2 mt-0" data-cues="" data-delay="">
                <div class="blog-img">
                    <a href=>
                        <img src="{{ blog.image.url }}" alt=""style="width: 70%;">
                    </a>
                </div>
                <ul class="blog-meta">
                    <li class="author">
                        <i class="fas fa-user-alt"></i>
                        <span>{{ blog.author }}</span>
                    </li>
                    <li class="meta-date">
                        <i class="fas fa-calendar-alt"></i>
                        <span>{{ blog.created_at|date:"F/d" }}</span>
                    </li>
                </ul>
                <div class="blog-content">
                    <a><h3>{{ blog.title }}</h3></a>
                    <p>{{ blog.description }}</p>

                    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
                            <span class="comment"><i class="far fa-comments"></i> Comment 120</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}