
{%extends  'base.html'%}

{%load static%}
{% block content %}     

        <main>
            <!-- Banner Section  -->
            <div class="banner-area inner-banner" style="background-image: url('assets/img/bg/bg2.png');">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12">
                            <div class="breadcrumbs">
                                <nav aria-label="breadcrumb text-center">
                                    <h2 class="text-white">Our Doctor</h2>
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="{% url 'index_2' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Our Doctor</li>
                                    </ol>
                                </nav>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Section  -->

            <!-- Counter Section  -->
            <section class="counter-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="counter-wrapper counter-wrapper-2">
                                <div class="counter-item">
                                    <h2 class="counter counter-number">125+</h2>
                                    <span class="counter-text">Expert Doctors</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">275+</h2>
                                    <span class="counter-text">Total Medical Stuff</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">462k</h2>
                                    <span class="counter-text">Online Appointments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Counter Section  -->

            <!-- Doctor-start-->
            <section class="doctor-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">
                            <div class="section-title text-center mb-3">
                                <span class="subtitle wow animate__animated animate__fadeInUp">Our Doctor</span>
                                <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">Highly
                                    Qualified doctorals</h2>
                                <p class="pt-3 wow animate__animated animate__fadeInUp animate__delay-2">Lorem Ipsum
                                    available but the majority have suffered alteration in some
                                    form, by injected humour, or randomized words.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-cues="slideInLeft" data-delay="500">
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">   
                                        <img src="{% static 'img/doctor/doctor-img1.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Michael Brian</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="{% static 'img/doctor/doctor-img2.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Edward Angel</a></h3>
                                    <span>Family Physician</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="{% static 'img/doctor/doctor-img3.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Jony Bristow</a></h3>
                                    <span>Dental Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="{% static 'img/doctor/doctor-img4.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Amalia Assur</a></h3>
                                    <span>Physician Assistant</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="{% static 'img/doctor/doctor-img5.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Tomas Mulli</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="{% static 'img/doctor/doctor-img6.jpg' %}" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{% url 'index_2' %}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="{% url 'doctor_details' %}">Dr. Angel Tylor</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="{% url 'doctor_details' %}" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="{% static 'img/shape/shape15.png' %}" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Doctor-end -->

            <!-- Service Section  -->
            <section class="service-area mt-0 overflow-hidden">
                <div class="container">
                    <div class="service-wrapper">
                        <div class="row">
                            <div class="col-md-6 col-xl-4" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="fas fa-tooth"></i>
                                        </div>
                                        <h3>Implant Dentistry</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="bi bi-shield-plus"></i>
                                        </div>
                                        <h3>Safe Observation</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4 d-md-none d-xl-block" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="bi bi-calendar-check"></i>
                                        </div>
                                        <h3>Schedule Appointment</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Section  -->
        </main>

        {% endblock %}