
{%extends  'base.html'%}

{%load static%}
{% block content %}     

        <main>
            <!-- Banner Section  -->
            <div class="banner-area inner-banner" style="background-image: url('assets/img/bg/bg2.png');">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12">
                            <div class="breadcrumbs">
                                <nav aria-label="breadcrumb text-center">
                                    <h2 class="text-white">Our Doctor</h2>
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Our Doctor</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Section  -->

            <!-- Counter Section  -->
            <section class="counter-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="counter-wrapper counter-wrapper-2">
                                <div class="counter-item">
                                    <h2 class="counter counter-number">125+</h2>
                                    <span class="counter-text">Expert Doctors</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">275+</h2>
                                    <span class="counter-text">Total Medical Stuff</span>
                                </div>
                                <div class="counter-item">
                                    <h2 class="counter counter-number">462k</h2>
                                    <span class="counter-text">Online Appointments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Counter Section  -->

            <!-- Doctor-start-->
            <section class="doctor-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">
                            <div class="section-title text-center mb-3">
                                <span class="subtitle wow animate__animated animate__fadeInUp">Our Doctor</span>
                                <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">Highly
                                    Qualified doctorals</h2>
                                <p class="pt-3 wow animate__animated animate__fadeInUp animate__delay-2">Lorem Ipsum
                                    available but the majority have suffered alteration in some
                                    form, by injected humour, or randomized words.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-cues="slideInLeft" data-delay="500">
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img1.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Michael Brian</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img2.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Edward Angel</a></h3>
                                    <span>Family Physician</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img3.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Jony Bristow</a></h3>
                                    <span>Dental Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img4.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Amalia Assur</a></h3>
                                    <span>Physician Assistant</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img5.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Tomas Mulli</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="doctor-item">
                                <div class="doctor-thumb">
                                    <div class="doctor-img">
                                        <img src="assets/img/doctor/doctor-img6.jpg" alt="Image">
                                    </div>
                                    <ul class="social-link">
                                        <li><a href="index-2.html"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index-2.html"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="doctor-content">
                                    <h3 class="title"><a href="doctor-details.html">Dr. Angel Tylor</a></h3>
                                    <span>Doctor of Medicine</span>
                                    <p>I'm a doctor; we work in teams. I'm very committed to problem solving</p>
                                    <a href="doctor-details.html" class="doctor-link"><i class="fas fa-arrow-right"></i></a>
                                    <div class="doctor-shape">
                                        <img src="assets/img/shape/shape15.png" alt="Shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Doctor-end -->

            <!-- Service Section  -->
            <section class="service-area mt-0 overflow-hidden">
                <div class="container">
                    <div class="service-wrapper">
                        <div class="row">
                            <div class="col-md-6 col-xl-4" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="fas fa-tooth"></i>
                                        </div>
                                        <h3>Implant Dentistry</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="bi bi-shield-plus"></i>
                                        </div>
                                        <h3>Safe Observation</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4 d-md-none d-xl-block" data-cues="slideInRight">
                                <div class="service-item">
                                    <div class="service-title">
                                        <div class="service-icon">
                                            <i class="bi bi-calendar-check"></i>
                                        </div>
                                        <h3>Schedule Appointment</h3>
                                    </div>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Section  -->
        </main>

        <!-- Footer Section Start  -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-client-logo">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiper client-slider-active">
                                <div class="swiper-wrapper client-logo-list">
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client2.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client3.png" alt="Client Logo">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/client/client4.png" alt="Client Logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-top section-padding">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index-2.html"><img src="assets/img/logo2.png" alt="Logo"></a>
                                </div>
                                <p class="text-white">Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy.</p>
                                <div class="footer-contact-info">
                                    <div class="icon">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <span>Themeforest, Envanto HQ <br>24 Fifth st., Los Angeles, USA</span>
                                </div>
                                <div class="footer-contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <span>+00 (00) 123 456 789 <br>+00 (00) 123 456 789</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget footer-padding pt-md-0">
                                <h3 class="footer-title">Our Services</h3>
                                <ul class="footer-links">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="footer-widget footer-padding">
                                <h3 class="footer-title">Important Link</h3>
                                <ul class="footer-links">
                                    <li><a href="doctor.html">Doctors</a></li>
                                    <li><a href="appointment.html">Appointment</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="booking-list.html">Booking List</a></li>
                                    <li><a href="error.html">404 Page</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-widget footer-padding footer-booking-hour">
                                <h3 class="footer-title">Opening Hours</h3>
                                <ul class="footer-info">
                                    <li>Monday - Wednesday 6.00 - 10.30 pm</li>
                                    <li>Thursday - Saturday 8.00 - 12.00 am</li>
                                </ul>
                                <div class="off-day">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38.474" height="38.474"
                                        viewBox="0 0 38.474 38.474">
                                        <path id="_24_7_icon" data-name="24/7 icon"
                                            d="M21.237,23.161a5.771,5.771,0,0,1,4,9.93l-3.674,3.536h5.444v3.847H15.466V37.157l7.1-6.839a1.924,1.924,0,1,0-3.257-1.387H15.466A5.771,5.771,0,0,1,21.237,23.161Zm11.542,0v7.695h3.847V23.161h3.847V40.474H36.626V34.7H28.932V23.161ZM5.847,21.237a15.361,15.361,0,0,0,5.771,12.015V37.9A19.227,19.227,0,0,1,2,21.237ZM21.237,2A19.238,19.238,0,0,1,40.378,19.313h-3.87a15.391,15.391,0,0,0-28-6.733h5.03v3.847H2V4.886H5.847V9.695A19.2,19.2,0,0,1,21.237,2Z"
                                            transform="translate(-2 -2)" fill="#0463fa" />
                                    </svg>
                                    <span class="btn btn-blue btn-xl btn-round">Sunday - Holiday</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6 col-lg-7 col-xl-8">
                            <div class="footer-bottom-left">
                                <ul class="footer-social">
                                    <li>Follow us:</li>
                                    <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 col-xl-4">
                            <div class="footer-copyright">
                                <p>&copy; 2021 All Right Reserved by theme_crazy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/shape/shape10.png" alt="Shape" class="shape">
            <img src="assets/img/shape/shape11.png" alt="Shape" class="shape2">
        </footer>
        <!-- Footer Section End  -->
        {% endblock %}