
{%extends  'base.html'%}

{%load static%}
{% block content %}     
        <!-- Banner Section  -->
        <div class="banner-area overflow-hidden" style="background-image: url('assets/img/banner/banner.png');">
            <div class="container">
                <div class="row flex-column-reverse flex-md-row align-items-center">
                    <div class="col-md-6">
                        <div class="banner-left-content">
                            <h1 data-cue="slideInLeft" data-duration="1000">Find The Best
                                Clinic To Get Solutions.</h1>
                            <p data-cue="slideInLeft" data-duration="2000">Lorem Ipsum is simply dummy text of the
                                printing and typesetting
                                industry
                            lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s when an unknown printer took a galley.</p>
                            <a href="service.html" class="btn btn-outline-white btn-xl btn-round" data-cue="slideInLeft"
                                data-duration="3000">Explore Our Services</a>
                            <div class="counter-wrapper d-none d-md-flex" data-cues="slideInLeft" data-duration="2000">
                                <div class="counter-item text-white">
                                    <h2 class="counter counter-number">125+</h2>
                                    <span class="counter-text">Expert Doctors</span>
                                </div>
                                <div class="counter-item text-white">
                                    <h2 class="counter counter-number">275+</h2>
                                    <span class="counter-text">Total Medical Stuff</span>
                                </div>
                                <div class="counter-item text-white">
                                    <h2 class="counter counter-number">462k</h2>
                                    <span class="counter-text">Online Appointments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner-right-content">
                            <div class="banner-img" data-cues="slideInRight" data-duration="3000">
                                <img src="assets/img/banner/banner-img.png" alt="Banner Image">
                                <div class="play-box">
                                    <a href="https://www.youtube.com/watch?v=togmdDHG3Pw" data-fancybox><i class="bi bi-play-circle"></i></a>
                                </div>
                                <div class="text-box-wrapper">
                                    <div class="dr-image">
                                        <img src="assets/img/banner/dr.png" alt="Image">
                                    </div>
                                    <div class="dr-info">
                                        <h5>Dr. Jony Bristow</h5>
                                        <span>24 Hours Online Active</span>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/shape/shape2.png" alt="Shape Image" class="shape shape3">
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/shape/overlay.png" alt="Overlay" class="shape shape1">
        </div>
        <!-- Banner Section  -->

        <!-- Service Section  -->
        <section class="service-area overflow-hidden">
            <div class="container">
                <div class="service-wrapper">
                    <div class="row" data-cues="slideInRight" data-delay="1000">
                        <div class="col-md-6 col-xl-4">
                            <div class="service-item">
                                <div class="service-title">
                                    <div class="service-icon">
                                        <i class="fas fa-tooth"></i>
                                    </div>
                                    <h3>Implant Dentistry</h3>
                                </div>
                                <p>Lorem Ipsum available, but the majority
                                have suffered alteration in some form
                                injected humour, or randomized.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="service-item">
                                <div class="service-title">
                                    <div class="service-icon">
                                        <i class="bi bi-shield-plus"></i>
                                    </div>
                                    <h3>Safe Observation</h3>
                                </div>
                                <p>Lorem Ipsum available, but the majority
                                have suffered alteration in some form
                                injected humour, or randomized.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 d-md-none d-xl-block">
                            <div class="service-item">
                                <div class="service-title">
                                    <div class="service-icon">
                                        <i class="bi bi-calendar-check"></i>
                                    </div>
                                    <h3>Schedule Appointment</h3>
                                </div>
                                <p>Lorem Ipsum available, but the majority
                                have suffered alteration in some form
                                injected humour, or randomized.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section  -->

        <!-- About Section -->
        <section class="about-area overflow-hidden section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left-content">
                            <div class="about-image" data-cue="slideInUp">
                                <img src="assets/img/about/about.png" alt="Image">
                                <img src="assets/img/shape/circle.png" alt="Circle Image" class="circle circle1">
                                <img src="assets/img/shape/circle2.png" alt="Circle Image" class="circle circle2">
                                <img src="assets/img/shape/shape3.png" alt="Shape Image" class="shape3">
                            </div>
                            <div class="about-service-list">
                                <ul data-cues="slideInUp">
                                    <li>Expert Doctors</li>
                                    <li>Modern Anesthesia</li>
                                    <li>Emergency Cases</li>
                                    <li>Quality Brackets</li>
                                    <li>24/7 Help Center</li>
                                    <li>Modern Clinic</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right-content" data-cues="slideInUp" data-delay="500">
                            <div class="section-title" data-cues="slideInUp">
                                <span class="subtitle ">About Us</span>
                                <h2 class="title">Why You Should Trust Us? Get Know About Us</h2>
                            </div>
                            <p>Lorem Ipsum available but the majority have suffered alteration in some
                            form, by injected humour, or randomized words which don't look even
                            slightly believable. If you are going to use a passage of Lorem Ipsum
                            need to be sure there isn't anything embarrassing</p>
                            <p>Hidden in the middle of text. the lorem Ipsum generators on the Internet
                            tend to repeat predefined chunks as necessary, making this the first
                            generator on the Internet.</p>
                            <a href="about.html" class="btn btn-blue btn-xl btn-round">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section -->

        <!-- Service Section  -->
        <section class="service-area service-area-2 overflow-hidden section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="section-title text-center text-lg-start" data-cues="slideInUp" data-delay="500">
                            <span class="subtitle">Services</span>
                            <h2 class="title">Our Clinical Services</h2>
                            <p class="pt-4">Lorem Ipsum available the majority have suffered alteration
                                in some form, by injected humour, or randomized words
                                which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="service-left-content" data-cues="slideInUp">
                            <div class="service-item service-item-2">
                                <div class="service-icon">
                                    <i class="fas fa-medkit"></i>
                                </div>
                                <div class="service-text">
                                    <h3>Precise Diagnosis</h3>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="service-item service-item-2">
                                <div class="service-icon">
                                    <i class="fas fa-tooth"></i>
                                </div>
                                <div class="service-text">
                                    <h3>Dental Implants</h3>
                                    <p>Lorem Ipsum available, but the majority
                                        have suffered alteration in some form
                                        injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="service-item service-item-2">
                                <div class="service-icon">
                                    <i class="fas fa-stethoscope"></i>
                                </div>
                                <div class="service-text">
                                    <h3>Annual Check-ups</h3>
                                    <p>Lorem Ipsum available, but the majority
                                    have suffered alteration in some form
                                    injected humour, or randomized.</p>
                                </div>
                            </div>
                            <div class="service-btn">
                                <a href="service.html" class="btn btn-blue btn-xl btn-round">All Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="service-right-content" data-cues="slideInUp">
                            <div class="service-image">
                                <img src="assets/img/service/service.png" alt="Image">
                            </div>
                            <div class="service-group-btn">
                                <a class="btn-green" href="https://www.youtube.com/watch?v=togmdDHG3Pw" data-fancybox><i
                                        class="bi bi-play-circle"></i> Watch Diagnosis <br>Video</a>
                                <a class="btn-blue" href="service.html">Read More <i class="bi bi-arrow-right"></i></a>
                            </div>
                            <img src="assets/img/shape/shape4.png" alt="Shape" class="shape">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section  -->

        <!-- FAQ Section -->
        <section class="faq-area overflow-hidden section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="section-title text-center mb-5" data-cues="slideInUp">
                            <span class="subtitle">FAQ</span>
                            <h2 class="title">Our Clinical Services</h2>
                            <p class="pt-3">Lorem Ipsum available but the majority have suffered alteration in some
                            form, by injected humour, or randomized words.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="faq-left-content">
                            <div class="faq-img" data-cues="slideInUp" data-group="images">
                                <img src="assets/img/faq/faq.png" alt="Image">
                                <img src="assets/img/shape/shape2.png" alt="Shape" class="shape">
                                <img src="assets/img/shape/shape5.png" alt="Shape" class="shape2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="faq-right-content">
                            <div class="accordion" id="accordionFlushExample" data-cues="slideInRight" data-delay="500">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Can I book appointment behalf of someone else?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                                            <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Do I need a referral to see a physiotherapist?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                                            <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
                                            filled with some actual content.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                            How to book a doctor's consultation for a specific time?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                                            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                                            happening here in terms of content, but just filling up the space to make it look, at least at first
                                            glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                            Do you have venue options for appointments?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                                            <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                                            happening here in terms of content, but just filling up the space to make it look, at least at first
                                            glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ Section -->

        <!-- Booking Section -->
        <section class="booking-area overflow-hidden overlay overlay-blue overlay-opacity-70 section-padding" style="background-image: url('assets/img/bg/bg.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="booking-wrapper" data-cues="slideInUp">
                            <div class="section-title">
                                <span class="subtitle">Book an Appointment</span>
                                <h3>Contact Our friendly Reception Staff With Any Inquiry.</h3>
                            </div>
                            <div class="booking-form">
                                <form>
                                    <input class="form-control" type="text" placeholder="Your Name" aria-label="form-control">
                                    <input class="form-control" type="email" placeholder="Your email" aria-label="form-control">
                                    <select class="select-control">
                                        <option data-display="Choose doctor">Choose doctor</option>
                                        <option value="1">Some option</option>
                                        <option value="2">Another option</option>
                                        <option value="4">Potato</option>
                                    </select>
                                    <select class="select-control">
                                        <option data-display="Choose Date">Choose Date</option>
                                        <option value="1">Some option</option>
                                        <option value="2">Another option</option>
                                        <option value="4">Potato</option>
                                    </select>
                                    <select class="select-control">
                                        <option data-display="Choose time">Choose Time</option>
                                        <option value="1">8:00am - 9:00am</option>
                                        <option value="2">10:00am - 10:00am</option>
                                        <option value="4">4:00am - 6:00am</option>
                                    </select>
                                    <div>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe your problem"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-blue btn-xl btn-round mt-5">Make Appointment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="booking-right-content">
                            <div class="section-title">
                                <span class="subtitle wow animate__animated animate__fadeInRight">Contact</span>
                                <h3 class="text-white wow animate__animated animate__fadeInRight animate__delay-1">Emergency Contact Us.</h3>
                                <p class="text-white wow animate__animated animate__fadeInRight animate__delay-2">Lorem Ipsum available the majority have suffered alteration
                                in some form, by injected humour, or randomized words
                                which don't look even slightly believable.</p>
                            </div>
                            <div class="booking-info-box" data-cue="slideInRight" data-delay="300">
                                <div class="booking-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="booking-text">
                                    <span>Call us now</span>
                                    <a href="tel:+00123456789">+00 (00) 12345 6789</a>
                                </div>
                            </div>
                            <div class="booking-info-box" data-cue="slideInRight" data-delay="600">
                                <div class="booking-icon">                                    
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="booking-text">
                                    <span>Mail us now</span>
                                    <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                                </div>
                            </div>
                            <div class="subscribe-news-wrapper" data-cue="slideInRight" data-delay="900">
                                <div class="subscribe-text">                                    
                                    <i class="fas fa-envelope-open-text"></i>
                                    <h3>Subscribe your email for newsletter</h3>
                                </div>
                                <p>Lorem Ipsum available the majority have suffered alteration
                                in some form, by injected humour, or randomized words
                                which don't look even slightly believable.</p>
                                <form>
                                    <input class="form-control" type="email" placeholder="Email address" aria-label="form-control">
                                    <button type="submit" class="btn btn-white btn-xl btn-round">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img src="assets/img/shape/circle3.png" alt="Circle" class="circle3">
            <img src="assets/img/shape/shape6.png" alt="Shape" class="shape6">
            <img src="assets/img/shape/shape7.png" alt="Shape" class="shape7">
            <img src="assets/img/shape/shape8.png" alt="Shape" class="shape8">
        </section>
        <!-- Booking Section -->

        <!-- Testimonial Area -->
        <section class="testimonial-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="section-title text-center mb-5">
                            <span class="subtitle wow animate__animated animate__fadeInUp">Testimonial</span>
                            <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">Our Clinic Customer Reviews</h2>
                            <p class="pt-3 wow animate__animated animate__fadeInUp animate__delay-2">Lorem Ipsum available but the majority have suffered alteration in some
                            form, by injected humour, or randomized words.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper testimonial-slider-active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="testimonial-quote">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <ul class="testimonial-review">
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem Ipsum available, but the majority
                                    have suffered alteration in some form
                                    by injected humour, or randomized words
                                    which don't look even.</p>
                                <div class="testimonial-footer">
                                    <div class="author-info">
                                        <div class="author-img">
                                            <img src="assets/img/testimonial/author.png" alt="Author">
                                        </div>
                                        <div class="author-text">
                                            <h4 class="author-name">Jony Bristow</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                    <span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="testimonial-quote">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <ul class="testimonial-review">
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem Ipsum available, but the majority
                                    have suffered alteration in some form
                                    by injected humour, or randomized words
                                    which don't look even.</p>
                                <div class="testimonial-footer">
                                    <div class="author-info">
                                        <div class="author-img">
                                            <img src="assets/img/testimonial/author2.png" alt="Author">
                                        </div>
                                        <div class="author-text">
                                            <h4 class="author-name">Addison Maya</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                    <span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="testimonial-quote">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <ul class="testimonial-review">
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem Ipsum available, but the majority
                                    have suffered alteration in some form
                                    by injected humour, or randomized words
                                    which don't look even.</p>
                                <div class="testimonial-footer">
                                    <div class="author-info">
                                        <div class="author-img">
                                            <img src="assets/img/testimonial/author3.png" alt="Author">
                                        </div>
                                        <div class="author-text">
                                            <h4 class="author-name">David Jonson</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                    <span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="testimonial-quote">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <ul class="testimonial-review">
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                    <li class="review-list"><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem Ipsum available, but the majority
                                    have suffered alteration in some form
                                    by injected humour, or randomized words
                                    which don't look even.</p>
                                <div class="testimonial-footer">
                                    <div class="author-info">
                                        <div class="author-img">
                                            <img src="assets/img/testimonial/author3.png" alt="Author">
                                        </div>
                                        <div class="author-text">
                                            <h4 class="author-name">David Jonson</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                    <span class="d-none d-xl-block">Sunday, 24, 8:00 am</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <img src="assets/img/shape/shape9.png" alt="Shape" class="shape">
        </section>
        <!-- Testimonial Area -->

        <!-- Blog Area -->
        <section class="blog-area section-padding">
            <div class="container">
                <div class="row" data-cues="slideInUp">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 md-lg-5">
                            <span class="subtitle wow animate__animated animate__fadeInUp">Blog</span>
                            <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">Latest Clinic News</h2>
                            <p class="pt-3 wow animate__animated animate__fadeInUp animate__delay-2">Lorem Ipsum available but the majority have suffered alteration in some
                            <br>form, by injected humour, or randomized words.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="{% url 'blog_details' %}"><img src="assets/img/blog/blog.png" alt="Blog Image"></a>
                            </div>
                            <ul class="blog-meta">
                                <li class="author">
                                    <i class="fas fa-user-alt"></i>
                                    <span>By Admin</span>
                                </li>
                                <li class="meta-date">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>January 25, 2022</span>
                                </li>
                            </ul>
                            <div class="blog-content">
                                <h3><a href="{% url 'blog_details' %}">How do you tell the psychiatrists
                                from the patients in hospital?</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy.</p>
                                <hr>
                                <a href="{% url 'blog_details' %}" class="blog-link">Read More <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="{% url 'blog_details' %}"><img src="assets/img/blog/blog2.png" alt="Blog Image"></a>
                            </div>
                            <ul class="blog-meta">
                                <li class="author">
                                    <i class="fas fa-user-alt"></i>
                                    <span>By Admin</span>
                                </li>
                                <li class="meta-date">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>January 26, 2022</span>
                                </li>
                            </ul>
                            <div class="blog-content">
                                <h3><a href="{% url 'blog_details' %}">Isn’t it a bit unnerving that doctors
                                call what they do “practice</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy.</p>
                                <hr>
                                <a href="{% url 'blog_details' %}" class="blog-link">Read More <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>   
                    </div>
                    <div class="col-md-6 col-lg-4 d-md-none d-lg-block">
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="{% url 'blog_details' %}"><img src="assets/img/blog/blog3.png" alt="Blog Image"></a>
                            </div>
                            <ul class="blog-meta">
                                <li class="author">
                                    <i class="fas fa-user-alt"></i>
                                    <span>By Admin</span>
                                </li>
                                <li class="meta-date">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>January 28, 2022</span>
                                </li>
                            </ul>
                            <div class="blog-content">
                                <h3><a href="{% url 'blog_details' %}">How do you tell the psychiatrists
                                from the patients in hospital?</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy.</p>
                                <hr>
                                <a href="{% url 'blog_details' %}" class="blog-link">Read More <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area -->
    </main>
    {% endblock %}