
{%extends  'base.html'%}

{%load static%}
{% block content %}     
<body>
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    
    <main>
        <!-- Login Section  -->
        <section class="login-area section-padding" style="background-image: url('assets/img/login/bg.png');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="login-wrapper">
                            <div class="section-title text-lg-start">
                                <span class="subtitle wow animate__animated animate__fadeInUp">Login</span>
                                <h2 class="title wow animate__animated animate__fadeInUp animate__delay-1">See your growth and get<br>
                                    consulting support!</h2>
                            </div>
                            <div class="social-button">
                                <a href="#" class="btn btn-blue btn-xl btn-round facebook"><i class="fab fa-facebook-f"></i>Sign up with Facebook</a>
                                <a href="#" class="btn btn-blue btn-xl btn-round twitter"><i class="fab fa-twitter"></i>Sign up with Twitter</a>
                            </div>
                            <div class="login-or">
                                <hr>
                                <span>or</span>
                            </div>
                            <form>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <div class="pseudo-icon icon-envelope">
                                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="mail@website.com">
                                  </div>
                                </div>
                                <div class="form-group mt-4">
                                  <label for="exampleInputPassword1">Password</label>
                                  <div class="pseudo-icon icon-lock">
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="min. 8 character">
                                  </div>
                                </div>
                                <div class="login-remember-forget">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Remember me
                                        </label>
                                    </div>
                                    <a href="#" class="btn" role="button">Forget password?</a>
                                </div>
                                <div class="login-button">
                                    <a href="#" class="btn btn-blue btn-xl btn-round">Login</a>
                                </div>
                              </form>
                              <img class="shape1" src="assets/img/login/Graphic3.png" alt="">
                              <img class="shape2" src="assets/img/login/Graphic4.png" alt="">
                              <img class="shape3" src="assets/img/login/Graphic.png" alt="">
                              <img class="shape4" src="assets/img/login/Graphic2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Login Section  -->
    </main>
    {% endblock %}