{% load static %}


<header class="header-area">
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <nav class="header-navbar">
                    <div class="header-logo">
                        <a href="{% url 'index_2' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                    </div>
                    <div class="header-nav">    #
                        <div class="header-contact-number d-none d-lg-block">
                            <span>Emergency Line: <a href="tel:+00123456789">+(00) 123 456 789</a></span>
                        </div>
                        <a class="mobile-menu" href="#menu"><span></span></a>
                        <nav class="menu" id="menu">
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index_2' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                </li>
                                <li class="nav-item menu-dropdown">
                                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'service' %}">Service Page</a></li>
                                        <li><a href="{% url 'service_details' %}">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item menu-dropdown">
                                    <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'doctor' %}">Doctors Page</a></li>
                                        <li><a href="{% url 'doctor_details' %}">Doctors Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item menu-dropdown">
                                    <a class="nav-link" href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'blog' %}">Blog Page</a></li>
                                        <li><a href="{% static 'blog_details' %}">Blog Details</a></li>
                                        <li><a href="{% url 'appointment' %}">Appointment Page</a></li>
                                        <li><a href="{% url 'booking_list' %}">Booking Page</a></li>
                                        <li><a href="{% url 'error' %}">404 Page</a></li>
                                        <li><a href="{% url 'login' %}">Login Page</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-btn d-none d-xl-block">
                        <a href="{% url 'appointment' %}" class="btn btn-outline-white btn-xl btn-round">Book
                            Appointment</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
