{% load static %}


<header class="header-area">
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <nav class="header-navbar">
                    <div class="header-logo">
                        <a href="{% url 'index_2' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                    </div>
                    <div class="header-nav">    
                        <div class="header-contact-number d-none d-lg-block">
                            <span>Emergency Line: <a href="tel:{{setting.number1}}">{{setting.number1}}</a></span>
                        </div>
                        <a class="mobile-menu" href="#menu"><span></span></a>
                        <nav class="menu" id="menu">
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                <li class="nav-item menu-dropdown">
                                    <a class="nav-link">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'service' %}">Service Page</a></li>
                                        <li><a href="{% url 'service_details' %}">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'doctor' %}">Doctors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li class="nav-item">
                                    {% if user.is_authenticated %}

                                    <li class="nav-item menu-dropdown black-text">
                                        <a class="nav-link">Account</a>
                                        
                                        <ul class="sub-menu">
                                            <form method="POST" action="{% url 'logout' %}" >
                                          
                                            <button type="submit" class="nav-link btn btn-link text-black">Logout</button>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                                                      
                                            {% csrf_token %}
                                        
                                        </form>
                                    </li>
                                 {% else %}

                                 <li class="nav-item menu-dropdown black-text">
                                    <a class="nav-link">Account</a>
                                    
                                    <ul class="sub-menu black-text">
                                        <a class="nav-link black-text" href="{% url 'login' %}" style="color:black;">Login</a>
                                        <a class="nav-link" href="{% url 'register' %}" style="color:black;">Register</a>
                                        
                                    </ul>
                                </li>
                                   
                                    </li>
                                 {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-btn d-none d-xl-block">
                        <a href="{% url 'appointment' %}" class="btn btn-outline-white btn-xl btn-round">Book
                            Appointment</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
