{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">{{ user.username }}'s Profile</div>

          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.as_p }}
              <button type="submit" class="btn btn-blue btn-xl btn-round mt-5">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}